html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background:rgb(184, 145, 145);
}

.QuoteCard {
  width: 500px;
  background-color: #ceccbf;
  margin: 20px;
  border-radius: 1rem;
  border: 1px solid grey;
  box-shadow: 2px 2px rgb(151, 151, 151);
}

.title {
  text-align: center;
  color: #4e1ea7;
}

h2 {
  text-align: end;
  font-weight: bold;
}

p {
  text-align: end;
}

.Right {
  display: flex;
  align-items: center;
}

#quote {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  font-style: italic;
  color: #0e2e18;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: rgb(224, 190, 190);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    align-items: center;
    margin-left: 150px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: rgb(252, 249, 249)
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(66, 28, 28);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}